<div class="app">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <!-- Działanie na obrazie -->
                <div class="card drop-shadow">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="">Wybierz obraz</label>
                                <input type="file" class="form-control" accept="image/*" (change)='preview($event)'>
                            </div>

                            <div class="form-group">
                                <label for="">Górny Tekst</label>
                                <input type="text" class="form-control" name="topText" [(ngModel)]='topText' (keyup)='drawText()'>
                            </div>
                            <div class="form-group">
                                <label for="">Dolny Tekst</label>
                                <input type="text" class="form-control" name="bottomText" [(ngModel)]='bottomText' (keyup)='drawText()'>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Wielkość czcionki</label>
                                        <select class="form-select" #fontSize (change)="changeFontSize($event)">
                                            <option class="dropdown-item" disabled selected value="undefined">Wybierz rozmiar czcionki</option>
                                            <option *ngFor="let fontSize of fontSizes" [value]="fontSize.value">
                                                {{fontSize.display}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Czcionka</label>
                                        <select class="form-select" #font (change)="changeFont($event)">
                                            <option class="dropdown-item" disabled selected value="undefined">Wybierz czcionkę</option>
                                            <option *ngFor="let font of fonts" [value]="font">
                                                {{font}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Kolor Tekstu</label>
                                        <color-chrome (onChangeComplete)='canvasTextColor($event)'></color-chrome>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Kolor Tła</label>
                                        <color-chrome (onChangeComplete)='canvasBgColor($event)'></color-chrome>
                                    </div>
                                </div>
                            </div>

                            <!-- Rysowanie -->
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Narzędzia Rysowania</label><br>
                                        <div class="toolbar btn-group" role="group">
                                            <button id="brush" type="button" class="btn btn-secondary" (click)="changeTool('brush')"><mat-icon>create</mat-icon></button>
                                            <button id="line" type="button" class="btn btn-secondary" (click)="changeTool('line')"><mat-icon>horizontal_rule</mat-icon></button>
                                            <button id="rectangle" type="button" class="btn btn-secondary" (click)="changeTool('rectangle')"><mat-icon>crop_5_4</mat-icon></button>
                                            <button id="circle" type="button" class="btn btn-secondary" (click)="changeTool('circle')"><mat-icon class="material-icons-outlined">circle</mat-icon></button>
                                            <button id="ellipse" type="button" class="btn btn-secondary" (click)="changeTool('ellipse')" style="font-size: 21px;">&#11053;</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Grubość linii</label>
                                        <select class="form-select" #lineSize (change)="changeLineSize($event)">
                                            <option *ngFor="let lineSize of lineSizes" [value]="lineSize">
                                                {{lineSize}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <label for="">Kolor Rysowania</label>
                                <color-chrome (onChangeComplete)='canvasDrawingColor($event)'></color-chrome>
                            </div>

                            <!-- Zapisz -->
                            <button class="btn btn-outline-primary w-100 mt-5" (click)='downloadImg()'>Pobierz</button>

                        </form>
                    </div>
                </div>
                
            </div>
            
            
            <div class="col-md-6">
                <!-- Miejsce na obraz -->
                <canvas class="drop-shadow" #memeCanvas width="700" height="800" (mousedown)="ReactToMouseDown($event)" (mousemove)="ReactToMouseMove($event)" (mouseup)="ReactToMouseUp($event)"></canvas>

            </div>
        </div>
    </div>
</div>