<div class="app">
    <div class="container drop-shadow">
        <h1 class="h1 text-center">MEME GENERATOR 🤡 czeka na Ciebie!!!</h1>
        <p class="lead">Wrzuć grafikę, dodaj do niej tekst w wybranym kolorze, dostosuj barwę tła i rozśmiesz wszystkich Twoim jedynym w swoim rodzaju memem!</p>
    </div>
    <div class="container drop-shadow">
        <img class="rounded mx-auto d-block img-fluid" src="assets/img/meme.png" alt="Obraz zachęcający do stworzenia mema na naszej stronie">
    </div>
</div>